#root {
  margin: 0 auto;
  width: 70vw;
}

.App {
  height: 100vh;
  padding: 4rem;
  background-color: var(--white);
  border-radius: 8px;
}

@media screen and (max-width: 500px) {
  .App {
    padding: 0;
  }
}
