.TodoList h1 {
  color: var(--black);
}

.TodoList ul {
  padding: 0;
  height: 80vh;
  overflow: scroll;
  background-color: white;
  list-style-type: none;
  margin: 8px 0 0 0;
  border-radius: 8px;
}

@media screen and (max-width: 850px) {
  .TodoList ul {
    padding: 0;
    width: 100%;
  }
}


@media screen and (max-width: 500px) {
  .TodoList ul {
    margin-top: 2px;
    border-radius: 0;
    height: 90vh;
  }
}
